main{
    max-width: 840px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    font-family: "Arial Black";
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 25rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #7777AF;
    color: #000047;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #000047;
    text-align: center;
}